/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 207;
  --sat: 100%;
  --lig: 70%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
body {
  background-color: white;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  height: fit-content;
}
.icon{
  width: 58px;
  float: left;
  margin-top: -7px;
  margin-left: -66px;
}

/*=============== NAV BAR ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: var(--z-fixed);
  transition: .4s;
  box-shadow: 0 2px 4px hsl(0deg 0% 1% / 15%);
}
.nav{
  padding: 14px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}
.nav__product{
  transition: all .3s ease;
  position: relative;
}

.product:hover .nav__arrow, .product:hover .nav__product{
  color: #4c9bd6;
  outline: none;
}
.nav__product::before{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: rgba(76, 155, 214, 0);
  bottom: -16px;
  left: -5px;
  transition: all .2s;
}

.product:hover .nav__product::before{
  width: 90px;
  background-color: rgba(76, 155, 214, 1);
}
.nav__logo{
  padding: 6px 0;
  height: 48px;
  width: 122px;
}
.nav__img{
  width: 280px;
}
.nav__list{
  display: inline-flex;
  padding-left: 24px;
  
}
.nav__item{
  padding: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
}
.nav__arrow{
  transition: all .2s ease;
}

 .nav__list li:hover .mega-box{
  top: 65px;
  opacity: 1;
  visibility: visible;

}
#showMega{
  opacity: 0;
  visibility: hidden;
  width: 0;
  margin: 0;
}
.mega-box{
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 4px hsl(0deg 0% 1% / 35%);
  transition: all 0.2s ease-in;
}
#showMega:checked ~ .mega-box{
  max-height: 100%;
}
.mega-box .content{
  max-width: 1160px;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.mega-box .content .row__nav{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row__nav img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row__nav header{
  display: flex;
  align-items: center;
  color: #2d3032;
  font-size: 26px;
  font-weight: 700;
  padding: 16px 0;
  gap: 16px;
}

.row__nav{
  float: left;
}
.content{
  max-width: 1160px;
  
}
.content .row__nav .mega-links{
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row__nav .mega-links li a{
  padding: 0px;
  padding-left: 65px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: rgb(76, 155, 214);
  transition: all .4s ease;
  text-decoration: underline;
  text-decoration-color: rgba(76, 155, 214, 0);
}
.row__nav .mega-links li a:hover{
  color: #2d3032;
  text-decoration-color: rgb(0, 0, 0);
}
.row__nav p{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}
.content .row__nav .sub__title{
  font-size: 21px;
  padding-bottom: 2px;
}
.row__nav .mega-links li .sub{
  padding: 0;
}

/*=============== Title ===============*/
.title{
  text-align: center;
  background-image: url(/assets/img/title.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title__container{
  width: 100%;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title__h1{
  margin-top: 2rem;
  display: block;
  line-height: 3.5rem;
  font-size: 60px;
  font-weight: 900;
}
.title__span{
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  display: block;
}
.intro{
  margin: 24px auto;
  line-height: 28px;
  font-size: 21px;
}
.title__button{
  height: 44px;
  padding: 10px 16px;
  background-color: #3c8ac6;
  color: white;
  border-radius: .3rem;
  font-size: 18px;
  font-weight: 500;
}
.nav__download, .title__button{
  transition: all .3s ease;
}
.nav__download:hover, .title__button:hover{
  background-color: #4ca5ea;
}
figure > img{
  width: 90%;
}
.nav__download{
  margin-right: left;
}
.nav a:last-child{
  margin-left: auto;
}
.nav__download{
  padding: 5.5px 12px;
  background-color: #3c8ac6;
  color: white;
  border-radius: .15rem;
  font-size: 18px;
  font-weight: 500;
}

/*=============== INTRODUCTION ===============*/
.introduction{
  padding: 0px 20px;
  padding-top: 20px;
  text-align: center;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 140px;
}
.introduction__title{
  max-width: 670px;
  font-size: 36px;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.introduction__text{
  max-width: 680px;
  text-align: center;
  font-size: 21px;
  line-height: 29px;  
  margin: 25px auto;
}
.introduction__col{
  width: 33.33%;
  text-align: left;
  padding-left: 64px;
  padding-right: 48px;
}
.introduction__h3{
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 16px;
}
.btn-nav{
  color: #4c9bd6;
  font-weight: 500;
  text-decoration: none;
  border-bottom: none !important;
  padding: 10px;
  margin: -10px;
  font-size: 18px;
  line-height: 26px;
  
}
.spacer-top-xs, .languages-btn{
  display: flex;
  align-items: center;
  gap: .4rem;
  
}  
.spacer-top-xs:hover .intro__icon, .languages-btn:hover .intro__icon, .b:hover .intro__icon{
  transform: translateX(.25rem);
}
.intro__icon{
  width: 24px;
  transition: all .3s ease;
}
.spacer-top-xs{
  margin-top: 10px;
}
.introduction__p{
  font-size: 18px;
  line-height: 26px;
}
.row.introduction{
  margin-top: 16px;
  margin-bottom: 0;
}

/*=============== LANGUAGES ===============*/

.languages{
  padding: 0px 20px;
  padding-top: 20px;
  text-align: center;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 140px;
}
.languages__intro{
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
}
.intro-text{
  max-width: 920px;
  font-size: 18px;
  line-height: 26px;
  margin: 24px auto;
}
.intro-row{
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.languages-img{
  width: 115px;
}
.language-details-link{
  border-radius: .5rem;
  transition: all .2s ease;
}
.language-details-link:hover{
  box-shadow: 0 0 0 3px #4c9bd6;
}
.languages-btn{
  margin-top: 40px;
}

/*=============== WORKFLOW ===============*/
.work{
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.no-gutters{
  display: flex;
  width: 100%;

}
.col-1{
  margin-left: 8.333%;
  max-width: 400px;
}
.col-1 h2{
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  max-width: 670px;
  margin: auto;

}
.col-1 p{
  text-align: left;
  margin: 24px auto;
  max-width: 690px;
  font-size: 21px;
  line-height: 29px;
}
.col-2{
  margin-left: 8.3333%;
  display: flex;
}
.no-gutter{
  padding: 40px;
  margin-left: 16px;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 2px 8px hsla(200, 48%, 8%, .35);
  width: 50%;
  padding-bottom: 20px;
}
.work__row .work__btn{
  margin: 0;
}
.work__row, .work__row1{
  display: flex;
  align-items: center;
}
.work__row{
  margin-bottom: 10px;
}
.img-link{
    margin: 0;
    padding: 0;
    display: flex;

}
.work__box h3{
  margin: 24px 0;
  font-size: 26px;
  line-height: 32px;
}
.work__box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.work__row1{
  justify-content: center;
  gap: 4rem;
  margin-bottom: 10px;
}
.work__row2{
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

/*=============== RECOMMENDATION ===============*/
.recommendation{
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
.recommendations{
  margin-top: 3rem;
}
.recommendation__col{
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 25%;
  margin-left: 8.3333%;
}
.icon-recommendation{
  width: 48px;
  height: 48px;
}
.recommendation-security{
  margin-bottom: 20px;
}
.recommendation__col h6{
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  font-weight: 700;
  margin-top: 1rem;
}
.recommendation__p{
  margin-bottom: 1.2rem;
}

/*=============== DOWNLOAD ===============*/
.download{
  background-image: url(/assets/img/download.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.download-container{
  max-width: 1220px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.download-container h2{
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  max-width: 670px;
  font-weight: 700;

}
.download-container p {
  text-align: center;
  margin: 24px auto;
  max-width: 690px;
  font-size: 21px;
  line-height: 26px;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width:366px){
  
}
@media screen and (min-width: 366px){

}

/* For medium devices */
@media screen and (min-width: 633px) {

}

@media screen and (min-width: 767px) {

}
/* For large devices */
@media screen and (min-width:992px) {

}

@media screen and (min-width:1300px) {
  
}